@model IEnumerable<LibraryManage.Models.Book>

<h1>Books</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publisher</th>
        <th>Year</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.ISBN</td>
            <td>@book.Publisher</td>
            <td>@book.Year</td>
        </tr>
    }
</table>
